{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "func-names": "off",
    "no-use-before-define": "off",
    "radix": "off"
  }
}
